@import '../../../assets/style/color.less';
@import '../../../assets/style/mixins.less';

.time-picker-container{
  position: relative;

  width: 352px;
  height: 354px;
  border-radius: 12px;
  background-color: @strawberry-light;

}
.innerDiv{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.time-picker {
  .scroll-mixin;
  padding: 32px;

  display: block;
  height: 100% ; 
  width: 100%;
}

.time-picker-blur {
  position: absolute;
  bottom: 0px;
  left: 0px;

  height: 24px;
  width: 100%;

  background: linear-gradient(180deg, rgba(252, 252, 252, 0) -26.52%, rgba(252, 252, 252, 0.85) 82.58%);
  border-radius: 12px;
  z-index: 10; //scrollbar content recieves z-index of 1, so blur needs to sit on top of it
}