@import '../../../assets/style/color.less';

.ant-input-number{
    user-select: none;
    caret-color: transparent;
    border:0;
    box-shadow: none;
    width: 56px;
    margin-left:30px ;
    margin-right:30px ;
    
    *{
        box-sizing: border-box;
    }
    
    &-input {
        text-align: center;
    }
    
    &-handler-wrap {
        border:0;
        background-color: transparent;
        height: 30px;
        opacity: 1;
        width: 116px;
        left: -30px;
    }
    
    &-handler-wrap:hover &-handler {
        height: 30px;
    }
    
    &-handler:active{
        background: unset;
    }
    
    .button-style{
        border: 2px solid @pomegranate;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        
        &::after {
            content: '';
            position: absolute;
            top: 12px;
            left: 6px;
            width:14px;
            border: 1px solid @pomegranate;
            border-radius:1px ;
        }
        
        &:hover {
            box-shadow: 0px 0px 10px rgba(231, 12, 49, .2);
            height: 30px !important;
            border-color: @cherry;
            &::after, &::before {
                border-color: @cherry;
            }
        }
        
        &-disabled{
            pointer-events: none !important;
            border-color: @malt ;
            &::after,&::before{
                border-color: @malt !important ; //!important to get vertical bar
            }
        }
    }

    &-handler-down {
        .button-style; 
    }
    
    &-handler-up {
        .button-style;
        
        position: absolute;
        right: 0;

        &::before {
            content: '';
            position: absolute;
            top: 12px;
            left: 6px;
            width:14px;
            border: 1px solid @pomegranate;
            border-radius:1px ;
            transform: rotate(-90deg);
        }
    }
    
    &-disabled{
        background-color: transparent;
        color:@malt;
    }
    
    &-disabled &-handler-wrap{
        pointer-events: none;
        display: block;
        user-select: none;
        
        *,*:after,*:before{
            border-color: @malt ;
        }
    }

    .anticon {
        display:none !important;  
    }
}

