@import '../../../assets/style/mixin/input.less';

//* ERROR TEXT STYLING
.error-message {
  .input-error-mixin;
  width: @input-width;
}

.input {
  //* INPUT GENERAL STYLING
  &-text,
  &-text-disabled,
  &-dropdown,
  &-dropdown-disabled  {
    .input-default-mixin;
    .input-text-mixin;
    &.-error {
      border-color: @cherry;
    }
  
    margin-top: 4px;
    margin-bottom: 4px;
  }

  //* INPUT TEXT STATES
  &-text {
    &:hover {
      .input-hover-mixin;
    }
  
    &:focus {
      .input-active-mixin;
    }
  }

  //* INPUT DROPDOWN ADDITIONAL STYLING
  &-dropdown,
  &-dropdown-disabled {
    padding-top: unset;
    padding-bottom: unset;
    padding-left: unset;

    & .input-dropdown-group {
      display: flex;
    }

    & .ant-input {
      .input-text-mixin;
      border: unset;
    }
  }

  //* INPUT DROPDOWN STATES
 &-dropdown {
    &:hover {
      .input-hover-mixin;
    }

    &:focus-within {
      .input-active-mixin;
    }

    & .ant-input {
      &:hover:enabled,
      &:focus {
        .input-reset-mixin;
      }
    }
  }
}