@import '../../../assets/style/color.less';

.input {
  border-radius: 34px;
  width: 320px;

  background-color: @white;
  border: 1px solid @malt;

  color: @pomegranate;

  margin-top: 8px;
  margin-bottom: 4px;

  &[type="text"] {
    padding: 16px;

    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
  }

  &::placeholder {
    color: @malt;
  }

  &:hover:enabled {
    border-color: @strawberry;
    box-shadow: 0px 0px 10px rgba(248, 154, 186, 0.4);
  }

  &:disabled {
    border-color: @malt;
  }

  &:focus {
    border-color: @strawberry;
  }

  &.error {
    border-color: @cherry;
  }

  &.text {
    color: @pomegranate;
    font-weight: 500;
  }
}

.error {
  color: @cherry;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
}